nav{
    border-bottom-width: 2px;
    border-bottom-color: #DDDDDD;
    border-bottom-style: solid;
    height: 210px;
    padding-bottom: 5px;
}
.flutuacao{
    float: left;
    margin: 10px;
}

div{
    height: 150px;
    width: 30%;
}
.links{
    height: 40px;
    width: 14%;
    float: left;
    text-align: center;
    margin-right: -30pt;
    padding-bottom: -10px;
    
    
}
.navegar{
    width:100%;
    height: 40px;
    clear: both;
    padding-left: 87px;
}
.link{
    color: #2E7335;
    font-style: normal;
    font-family: inter;
    font-size: 20px;
    font-weight: lighter;
    text-decoration: transparent;

}
input[type="search"]{
border-radius: 10pt;
width: 250px;
height: 35px;
border-color: #DDDDDD;
border-width: 1px;
border-bottom-width: 3px;
margin-left: 90px;
}
button{
    background-color: #2E7335;
    color: #FFFFFF;
    border-radius: 10pt;
    font-size: 15px;
    font-family: inter;
    width: 60px;
    height: min-content;
    border-color: #2E7335;
}
.b{
    border-radius: 0pt;
    font-size: 20px;
    width: 70px;
    float: left;
    margin-left: 10px;
    
}
.l{
    background-color: #FFFFFF;
    color: #2E7335;
    
}
.d{
    width: 16%;
    height: 40px;
    padding-bottom: 20px;    
}
li{
    list-style-type: none;
    
    
}
.c{

    width: 95%;
    border-bottom: #DDDDDD;
    border-bottom-width: 1px;
    border-bottom-style: solid;
    height: 40px;
    color: #2E7335;
    font-size: 18px;
    font-family: inter;
    padding-bottom: 5px;
    padding-top: 5px;
}
.p{
    height: 350px;
    border-color: #DDDDDD;
    border-width: 1px;
    border-style: solid;
    width: 200px;
    margin-top: 50px;
    text-align: left;
    margin-left: 20px;
    float: left;
}
form{
    color: #2E7335;
    width: max-content;
    align-items: start;
    font: inter;
    font-size: 18px;
}
input[type="submit"]{
    background-color: #2E7335;
    color: #FFFFFF;
    
    font-size: 15px;
    font-family: inter;
    width: 60px;
    height: min-content;
    border-color: #2E7335;
}
body{
    color: #2E7335;
    font: inter;
    font-size: 18px;
}
.i{
    float: left;
    width: 80%;
    color: black;
    margin-left: 30px;
}
.imagem{
    width: 150px;
    height: 150px;
    float: left;
}
.titulo{
    font-weight: bold;
    font-size: 18px;
    font: inter;
}
.nome{
    width: 70%;
    float: left;
}
td{
    width: 250px;
    padding-bottom: 20px;
}